<div cg-busy="{promise:promise,templateUrl:'',message:'正在加载...',backdrop:true,delay:0,minDuration:0}">

    <form class="form-horizontal" role="form" style="padding: 10px 15px 5px 15px;margin: 10px;background-color: #FFF;border-radius: 5px;box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.2);">
        <div class="form-group form-group-sm" style="margin-bottom:0px;margin-top:10px;">
            <label class="control-label col-md-1 col-sm-2 col-xs-4 text-right">客户ID</label>
            <div class="col-md-3 col-sm-4 col-xs-8">
                <input type="text" class="form-control input-sm" ng-model="searchForm.id" placeholder="客户ID">
            </div>
            <label class="control-label col-md-1 col-sm-2 col-xs-4 text-right">客户名称</label>
            <div class="col-md-3 col-sm-4 col-xs-8">
                <input type="text" class="form-control input-sm" ng-model="searchForm.name" placeholder="客户名称">
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <div class="pull-right" style="padding-right:20px;">
                        <button type="submit" class="btn btn-danger btn-sm" ng-click="search();"><i class="fa fa-search" aria-hidden="true"></i>查询</button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="clearSearch();"><i class="fa fa-trash-o" aria-hidden="true"></i>清空</button>
                        <button type="button" class="btn btn-success btn-sm" style="margin-left:30px;" ng-click="edit()"><i class="fa fa-plus" aria-hidden="true"></i>新建</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <ac-table>
        <ac-table-column header="客户ID" field="id" sortable="true"></ac-table-column>
        <ac-table-column header="客户名称" field="name" sortable="true"></ac-table-column>
        <ac-table-column header="电话" field="phone" sortable="true"></ac-table-column>
        <ac-table-column header="地址" field="address" sortable="true"></ac-table-column>
        <ac-table-column-op content="<i class='fa fa-pencil'></i>" op="edit" tooltip="编辑"></ac-table-column-op>
        <ac-table-column-op content="<i class='fa fa-trash'></i>" op="del" tooltip="删除"></ac-table-column-op>
        <ac-table-grid items="dataList" selectable="false" multiple="false" id-field="id" selected-items="selectedItems" paging="pagination" on-page-change="pageChanged()" on-sort-change="search()"></ac-table-grid>
    </ac-table>
</div>